/* Write your CSS here */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  max-height: 100%;
}

.head-1 {
  color: #1e293b;
  font-size: 20px;
  text-align: center;
}

.head-2 {
  text-align: center;
  color: #2b237c;
  font-size: 25px;
}

.chrono-card {
  width: 100%;
  height: 100%;
}
